In [14]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import os 
os.chdir("/Users/liupengfei/Downloads/nyc2014")

In [16]:
g1=pd.read_csv("/Users/liupengfei/Downloads/nyc2014/rawgreen2014/green_1.csv")
g2=pd.read_csv("/Users/liupengfei/Downloads/nyc2014/rawgreen2014/green_2.csv")

In [17]:
green_raw = pd.concat([g1, g2], axis=0)
green_raw.head()

,pickup_datetime,dropoff_datetime,trip_duration,trip_distance,pickup_long,pickup_lat,dropoff_long,dropoff_lat,passenger_count,fare_amount,tolls_amount,total_amount
0,2014-09-20 04:21:08 UTC,2014-09-20 04:31:00 UTC,592,2.10,-73.860,40.840,-73.839,40.828,1,0.0,0.0,0.0
1,2014-04-29 07:23:13 UTC,2014-04-29 07:39:51 UTC,998,3.50,-73.929,40.836,-73.890,40.873,1,0.0,0.0,0.0
2,2014-06-24 18:12:46 UTC,2014-06-24 18:18:53 UTC,367,1.20,-73.810,40.714,-73.796,40.705,1,0.0,0.0,2.0
3,2014-04-12 10:36:57 UTC,2014-04-12 10:38:05 UTC,68,0.26,-73.874,40.742,-73.878,40.740,1,3.0,0.0,3.5
4,2014-06-29 16:02:01 UTC,2014-06-29 16:02:50 UTC,49,0.24,-73.932,40.796,-73.937,40.804,1,3.0,0.0,3.5

In [10]:
## green table
green_raw.columns =[c.replace("","") for c in green_raw.columns]
green_raw.index=np.arange(green_raw.shape[0])
green = green_raw[['pickup_datetime', 'dropoff_datetime', 'pickup_lat', 'pickup_long', 'trip_duration', 'trip_distance']]
green.columns=['pickup_datetime', 'dropoff_datetime','Lat', 'Lon', 'trip_duration', 'trip_distance']
green['type'] ="green"
green.head()

NameError: name 'green_raw' is not defined

In [11]:
green.to_csv("green_data.csv")

In [12]:
u1=pd.read_csv("uber_apr.csv")
u2=pd.read_csv("uber_may.csv")
u3=pd.read_csv("uber_jun.csv")
u4=pd.read_csv("uber_jul.csv")
u5=pd.read_csv("uber_aug.csv")
u6=pd.read_csv("uber_sep.csv")

In [13]:
uber_raw = pd.concat([u1,u2,u3,u4,u5,u6], axis=0)
uber_raw.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [14]:
uber_raw.columns=['pickup_datetime', 'Lat', 'Lon', 'Base']
uber_raw.drop(['Base'], axis=1, inplace=True)
uber_raw["type"]="uber"
uber_raw["pickup_datetime"]=pd.to_datetime(uber_raw["pickup_datetime"]).dt.strftime('%Y-%m-%d-%H')

In [15]:
uber_raw.to_csv("uber_data.csv")

In [4]:
os.chdir("/Users/liupengfei/Downloads/nyc2014/rawyellow2014")
y1=pd.read_csv("y1.csv")
y2=pd.read_csv("y2.csv")
y3=pd.read_csv("y3.csv")

In [5]:
yellow_raw = pd.concat([y1, y2,y3], axis=0)

In [7]:
yellow_raw.columns =[c.replace("","") for c in yellow_raw.columns]
yellow_raw.index=np.arange(yellow_raw.shape[0])
yellow = yellow_raw[['pickup_datetime', 'dropoff_datetime', 'pickup_lat', 'pickup_long', 'trip_duration', 'trip_distance']]
yellow.columns=['pickup_datetime', 'dropoff_datetime','Lat', 'Lon', 'trip_duration', 'trip_distance']
yellow['type'] ="yellow"

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [8]:
yellow.to_csv("yellow_data.csv")